<%- include('../partials/header') %>
  
      

  <hi><%=title%></hi>
 
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>

   <%- include('../partials/footer') %>